<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MewKat Palace HomePage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MewKat Palace</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Benvenuti al MewKat Palace</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Il nostro albergo vanta una storia centenaria.
      Da diverse generazioni ci occupiamo del benessere dei nostri clienti cercando di offrire loro il massimo confort e i migliori servizi. 
      Per noi la serietà è un principio cardine che ci guida in ogni attività. 
      Tra piscina, palestra, zona relax, terrazza vista mare, suite di lusso, campi da tennis e SPA, il Mewkat Palace è la location ideale per le vancanze romantiche e in famiglia.
      Ampia zona ristoro adibita ai buffet, pizzeria e ristorante anche all'aperto, con possibilità di affittare l'aria privé, siamo considerati tra gli hotel più romantici dell'intera penisola.
      Per prenotazioni e maggiori informazioni non esitate a contattarci al numero 34100007778 oppure all'indirizzo mail mewkatpalacehotel@hostel.ita
    </ion-card-content>
  </ion-card>
</ion-content>
