<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galleria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <img src='assets/gallery_images/0.jpg'>
    <img src='assets/gallery_images/1.jpg'>
    <img src='assets/gallery_images/2.jpg'>
    <img src='assets/gallery_images/3.jpg'>
    <img src='assets/gallery_images/4.jpg'>
  </ion-list>
</ion-content>
